:root {
  --text-color-dark: rgb(64, 64, 64);
  --primary-light-color: rgb(240, 247, 255);
  --text-color-light: rgb(196, 196, 196);
  --primary-color-dark: rgb(45, 156, 219);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--primary-light-color);
}

h1 {
  font-size: 2.5em;
  margin-left: 32px;
  margin-top: 16px;
  font-family: 'Arima Madurai', sans-serif;
  color: var(--text-color-dark);
}

body {
  max-width: 1440px;
  height: 900px;
  margin: auto;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  justify-content: space-between;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--text-color-light);
  opacity: 1;
  /* Firefox */
}

input:focus {
  outline: none;
}

#search_and_card {
  float: right;
  margin-top: 24px;
  margin-right: 22px;
}

#search-input {
  background-image: url('images/search.svg');
  background-position: 24px 16px;
  background-repeat: no-repeat;
  /* Do not repeat the icon image */
  height: 48px;
  width: 360px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', sans-serif;
  border: 0px;
  border-radius: 20px;
  color: var(--text-color-dark);
  font-size: 0.8em;
  padding: 12px 56px 12px 56px;
  margin-bottom: 12px;
  background-color: white;
}

#search_result {
  margin: 16 16 16 16;
}

#result-list {
  list-style-type: none;
  visibility: hidden;
  padding: 0;
  margin: 0;
}

#result-list li {
  /* Remove default list styling */
  list-style-type: none;
  width: 360px;
}

#result-list li p {
  margin-top: 12px;
  background-color: white;
  border-radius: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  display: inline-block;
  cursor: pointer;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  font-size: 1em;
  color: var(--text-color-dark);
}

#theList li a:hover:not(.header) {
  background-color: #F2F2F2;
  border-radius: 16px;
}

/* Food card section */
#food-card {
  visibility: hidden;
  background-color: var (--primary-light-color);
  border-radius: 20px 60px 20px 20px;
  border: 6px solid white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
  width: 360px;
  height: 520px;
  overflow: hidden;
}

.card-title-image-section {
  display: flex;
  justify-content: space-between;
}

.food-circle-image {
  width: 100px;
  height: 100px;
  background: white;
  margin-right: 20px;
  margin-top: 16px;
  object-fit: scale-down;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  margin-bottom: auto;
}

.card-titel-category {
  display: inline-block;
  height: 45px;
  margin-top: auto;
  margin-bottom: auto;
}

.card-title {
  margin-top: 8px;
  margin-left: 22px;
  font-size: 1.5em;
  line-height: 1em;
  font-family: 'Arima Madurai', sans-serif;
  color: var(--text-color-dark);
}

.card-category {
  margin-left: 24px;
  font-family: 'Roboto', sans-serif;
  font-size: 0.8em;
  display: inline-block;
  color: var(--text-color-light);
}

.card-macro-values-label {
  margin-left: 22px;
  line-height: 0.5em;
  margin-top: 42px;
}

.card-label {
  font-size: 1em;
  font-family: 'Arima Madurai', sans-serif;
  color: var(--text-color-light);
}

.card-macro {
  width: 70px;
  height: 80px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid white;
  border-radius: 8px;
}

.card-macros-section {
  margin-top: 12px;
  margin-left: 18px;
  margin-right: 18px;
  display: flex;
  justify-content: space-around;
}

.macro-value {
  font-size: 1.1em;
  font-family: 'Roboto', sans-serif;
  color: black;
  text-align: center;
  margin-top: 8px;
}

.macro-name {
  font-size: 0.8em;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: black;
}

.macro-unit {
  font-size: 0.8em;
  font-family: 'Roboto', sans-serif;
  color: var(--text-color-light);
  text-align: center;
  margin-top: 8px;
}

.card-portion-section,
.card-meal-section {
  margin-left: 22px;
  margin-top: 22px;
  margin-right: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#card-portion-input {
  height: 30px;
  width: 60px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', sans-serif;
  border: 0px;
  border-radius: 4px;
  color: var(--text-color-dark);
  background-color: white;
  font-size: 0.8em;
  text-align: center;
  margin-left: 12px;
}

.dropdown-selection-button {
  background-image: url('images/down_arrow.svg');
  background-position: right 5% bottom 50%;
  background-repeat: no-repeat;
  /* Do not repeat the icon image */
  height: 30px;
  width: 160px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', sans-serif;
  border: 0px;
  border-radius: 4px;
  text-align: left;
  padding-left: 10px;
  color: var(--text-color-dark);
  background-color: white;
  font-size: 0.8em;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 12px;
}

#card-total-calories {
  color: black;
  font-size: 1.6em;
  font-family: 'Roboto', sans-serif;
  margin-top: 24px;
  text-align: center;
}

.add-button {
  width: 184px;
  height: 30px;
  color: white;
  border: 0px;
  text-align: center;
  align-content: center;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  display: block;
  padding-top: 4px;
  margin: auto;
  margin-top: 24px;
  background-color: var(--primary-color-dark);
}

.delete-button:active,
.dropdown-selection-button:active,
.card-macro-close-btn:active,
.popup-done-button:active,
.add-button:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 16px 1px rgba(0, 0, 0, 0.24);
}

#portion-dropdown {
  position: absolute;
  width: 160px;
  left: 12px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
  visibility: hidden;
}

.dropdown-selector {
  position: relative;
}

#portion-dropdown {
  list-style-type: none;
  padding: 0px;
  margin: 0;
}

.portion-dropdown-item {
  list-style-type: none;
  background-color: white;
  display: flex;
  border-bottom: 1px solid #F2F2F2;
}

.portion-dropdown-item p {
  font-family: 'Roboto', sans-serif;
  font-size: 0.8em;
  width: 100%;
  height: 100%;
  padding: 8px;
  cursor: pointer;
  background-color: white;
  color: var(--text-color-dark);
  text-decoration: none;
}

.portion-dropdown-item :hover {
  background-color: #F2F2F2;
}

.blue-dot {
  width: 10px;
  height: 10px;
  margin-right: 10px;
}

.meal-options {
  width: 250px;
  display: flex;
  align-items: center;
  margin-right: 10px;
  justify-content: space-around;
}

.meal-option {
  height: 30px;
  display: flex;
  align-items: center;
  margin: auto;
  margin-left: 24px;
  justify-content: space-around;
}

.meal-option p {
  font-family: 'Roboto', sans-serif;
  font-size: 0.8em;
  text-decoration: none;
  color: var(--text-color-dark);
  cursor: pointer;
}

#lunch-blue-dot {
  visibility: hidden;
}

#dinner-blue-dot {
  visibility: hidden;
}

/* food list section */
.food-item {
  background-color: var (--primary-light-color);
  border-radius: 7px 7px 7px 7px;
  border: 3px solid white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
  width: 142px;
  height: 140px;
  position: relative;
  display: flex;
  margin-top: 48px;
  margin-bottom: 12px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-left: 25px;
}

.food-list-item-title {
  font-family: 'Roboto', sans-serif;
  font-size: 0.9em;
  color: black;
  margin-bottom: 8px;
}

.food-list-item-weight {
  font-family: 'Roboto', sans-serif;
  font-size: 0.9em;
  margin-bottom: 16px;
  color: var(--text-color-light);
}

#food-item-image {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 74px;
}

button {
  font-size: 24px;
  border: none;
  cursor: pointer;
  outline: none;
  margin: auto;
  display: block;
}

.delete-button {
  background-image: url('images/delete_icon.svg');
  background-position: right 50% bottom 50%;
  background-repeat: no-repeat;
  width: 27px;
  height: 27px;
  background-color: white;
  position: absolute;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  margin-left: 140px;
  margin-bottom: 124px;
}

/* Bottom swiper section*/
.bottom {
  margin-left: 20px;
  margin-right: 20px;
  bottom: 0px;
  width: 100%;
  max-width: 1440px;
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: var (--primary-light-color);
  border-radius: 20px 20px 0px 0px;
  border: 6px solid white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.consumed-top-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#consumed-label {
  font-size: 1.2em;
  margin-top: 12px;
  margin-left: 22px;
  display: inline-block;
  font-family: 'Arima Madurai', sans-serif;
  color: var(--text-color-dark);
}

#consumed-lunch-blue-dot,
#consumed-dinner-blue-dot,
#consumed-all-blue-dot {
  visibility: hidden;
}

#consumed-meal-breakfast,
#consumed-meal-lunch,
#consumed-meal-dinner,
#consumed-meal-all {
  font-size: 1em;
  color: var(--text-color-light);
}

.consumed-meal-options {
  margin-left: 40px;
  margin-top: 8px;
  margin-bottom: 16px;
}

#consumed-meal-breakfast {
  color: var(--text-color-dark);
}

.expand-consumed-button {
  background-image: url('images/expand_arrow.svg');
  width: 48px;
  height: 48px;
  margin-right: 0;
  margin-right: 12px;
  visibility: hidden;
  transform: rotate(0deg);
  transition: transform 0.5s linear;
}

.collapse-consumed-button {
  transform: rotate(180deg);
  transition: transform 0.5s linear;
  background-image: url('images/expand_arrow.svg');
  width: 48px;
  height: 48px;
  margin-right: 0;
  margin-right: 12px;
}

#swiper-wrapper {
  display: flex;
}

/* graph section*/
#donut-macro-graph {
  width: 480px;
  height: 480px;
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
}

.middleText {
  fill: #000000;
  font-family: 'Roboto', sans-serif;
  font-size: 54px;
}

.middleTextLabel {
  fill: var(--text-color-light);
  font-family: 'Roboto', sans-serif;
  font-size: 1.1em;
}

.macro-labels {
  fill: var(--text-color-light);
  font-family: 'Arima Madurai', sans-serif;
  font-size: 1.2em;
  cursor: pointer;
}

.ratio-selector {
  display: flex;
  margin-top: 32px;
  flex-direction: row;
}

.ratio-selector p {
  color: var(--text-color-dark);
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}

.ratio-option {
  margin-left: 16px;
  margin-top: 24px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.ratio-macros {
  margin-left: 8px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.ratio-macros p {
  color: var(--text-color-light);
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}

#ratio1-macros p {
  color: var(--text-color-dark);
}

#ratio2-blue-dot,
#ratio3-blue-dot {
  visibility: hidden;
}

input[type=number] {
  -moz-appearance: textfield;
}

#calories-input {
  width: 135px;
  height: 38px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', sans-serif;
  border: 0px;
  border-radius: 4px;
  color: var(--text-color-dark);
  font-size: 0.8em;
  margin-left: 16px;
  padding-left: 16px;
  background-color: white;
}

.calories-intake-section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* popup*/
.calories-intake-label {
  color: var(--text-color-dark);
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

#calories-input-error {
  color: red;
  font-family: 'Roboto', sans-serif;
  font-size: 0.8em;
  margin-left: 8px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-body {
  padding: 20px 24px;
}

.popup-done-button {
  width: 184px;
  height: 30px;
  color: white;
  border: 0px;
  text-align: center;
  align-content: center;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  display: block;
  padding-top: 4px;
  margin: auto;
  margin-top: 46px;
  margin-bottom: 16px;
  background-color: var(--primary-color-dark);
}

.input-info {
  position: absolute;
  top: 10%;
  left: 5%;
  display: flex;
  flex-direction: column;
}

.input-info p {
  color: var(--text-color-dark);
  font-family: 'Roboto', sans-serif;
  margin-top: 8px;
  font-size: 1.2em;
}

.card-macro-details {
  width: 420px;
  height: 500px;
  position: absolute;
  top: 20%;
  left: 5%;
  background-color: var (--primary-light-color);
  border-radius: 20px 20px 20px 20px;
  border: 6px solid #F28482;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: none;
}

.card-details-title {
  color: var(--text-color-dark);
  margin-left: 24px;
  margin-top: 16px;
  font-family: 'Arima Madurai', sans-serif;
  font-size: 1.5em;
  display: inline-block;
}

.card-macro-close-btn {
  background-image: url('images/delete_icon.svg');
  background-position: right 50% bottom 50%;
  background-repeat: no-repeat;
  width: 27px;
  height: 27px;
  background-color: white;
  position: absolute;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  top: 2%;
  right: 2%;
}

.macro-item-labels {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-top: 8px;
  margin-left: 24px;
}

.macro-item-name {
  color: var(--text-color-dark);
  font-family: 'Roboto', sans-serif;
  font-size: 0.8em;
}

.macro-item-percentage {
  color: var(--text-color-light);
  font-family: 'Roboto', sans-serif;
  font-size: 0.8em;
  margin-left: 8px;
}

.item-percentage {
  width: 240px;
  height: 10px;
  margin-top: 4px;
  margin-left: 24px;
  background-color: var(--primary-color-dark);
  border-radius: 5px;
}
